
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700");

* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	color: #2d263b;
	font-size: 14px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

h2 {
	color: #4c2a86;
	font-size: 16px;
	padding: 16px 16px 16px 20px;
}

.fontBold {
	font-weight: bold
}

.info {
	border-top: 1px solid #DEE0E2;
}

.info:last-child {
	border-bottom: 1px solid #DEE0E2;
}

div.info + h2 {
	padding-top: 32px;
}

.info__title {
	background-color: #f8f8f8;
	font-size: 16px;
	padding: 18px 16px;
	font-weight: bold;
}

.info__title:before {
	content: "";
	float: left;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: transparent url(../img/ic_show.svg) top left no-repeat;
}

.info__title h3 {
	margin-left: 38px;
	font-size: 16px;
}

.info__title.is-active:before {
	background-image: url(../img/ic_hide.svg);
}

.info__content {
	padding: 16px;
}

.infoTable-header  {
	padding: 13px;
	border-bottom: 1px solid #6b767e;
	font-weight: bold;
}

.infoTable-cotent {
	padding: 13px;
	border-bottom: 1px solid #d8d8d8;
}

.infoTable-header div, .infoTable-cotent div {
	width: 50%;
	float: left;
}

.infoTable-cotent div.content-subHeader {
	width: 100%;
	padding-bottom: 13px;
	font-weight: bold
}
